<div class="content-img ">

  <div class="logo">
    <a class="img-logo">
      <img src="../../../../assets/img/logo.svg" alt="image logo">
    </a>
  </div>

  <div class="domiciliary">
    <button class="boton-amarillo" type="submit">Domicilio</button>
  </div>

  <div class="menu">
    <supermarket-navegation></supermarket-navegation>
  </div>

  <div class="logo-ubication">
    <div class="logo-user">
      <a href="#">
        <img class="logo-user" src="../../../../assets/img/iconoUser.svg" alt="Logo usuario">
      </a>
    </div>

    <div class="logo-categoria">
      <a href="#">
        <img src="../../../assets/img/iconoCategoria.svg" alt="Icono Categoria">
      </a>
    </div>

  </div>


</div>