<div class="container-footer">

  <div class="content-text">
    <p>Terminos y condiciones</p>
    <p>Politica de privacidad</p>
    <hr>
  </div>


  <div class="content-help">
    <p>¿Necesitas Ayuda?</p>

    <div class="enlace">
      <a href="#">
        <img src="../../../../assets/img/iconRedes/iconInstagram.svg" alt="icono de instagram">
      </a>

      <a href="#">
        <img src="../../../../assets/img/iconRedes/iconFacebook.svg" alt="icono de facebook">
      </a>

      <a href="#">
        <img src="../../../../assets/img/iconRedes/iconEmail.svg" alt="icono de E-mail">
      </a>

      <a href="#">
        <img src="../../../../assets/img/iconRedes/iconWhatsapp.svg" alt="icono de whatsapp">
      </a>
    </div>

  </div>

  <div class="content-copy">
    <p>Copyright © 2019.</p>
  </div>

</div>