<section class="anuncio">
  <div class="anuncio-position">
    <h1>Supermercado Muñoz</h1>
    <p>"Descubre la comodidad de hacer tus compras desde la comodidad de tu hogar con nuestra página web de
      supermercado. Con
      solo unos clics, tendrás acceso a una amplia variedad de productos frescos y de alta calidad. Olvídate de las
      largas
      filas y el estrés de las compras tradicionales. Además, con ofertas exclusivas y entregas rápidas, te garantizamos
      una
      experiencia de compra conveniente y eficiente.</p>
  </div>
</section>