@use "../../../../base_scss/mixins" as m;
@import "../../../../base_scss/variables";

.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 72rem;
  height: 29rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 0.5rem $verdeOscuro, 0 1.5rem 5rem;
}

.carousel-container img {
  display: none;
  border-radius: 1.5rem;
  height: calc(100% - 0.1rem);
}

.carousel-container img.image-active {
  display: block;
}

//dots/idicators
.carousel-dot-container {
  position: absolute;

  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 0.5rem;
  background-color: $negro;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4s;
  }
  to {
    opacity: 1;
  }
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 0;
  color: $blanco;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-prev {
  left: -2rem;
}

.btn-next {
  right: -2rem;
}

.icon-carousel {
  color: $blanco;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:hover {
  opacity: 0.9;
}

.icon-carousel:active {
  opacity: 0.5s;
}

.icon-prev {
  font-size: 4rem;
}

.icon-next {
  font-size: 4rem;
}

@include m.desktop {
  .carousel-container {
    width: 130rem;
    height: 40rem;
  }
  .carousel-dot-container {
    top: 38rem;
  }

  .btn-prev {
    left: -9rem;
  }

  .btn-next {
    right: -9rem;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 20rem;
    width: calc(100% - 4rem);
    max-width: 100%;
    margin-left: 2rem;
  }
}
