<header class="header">
  <!-- Apartado para el header de la pagina productos -->
  <shared-header-products></shared-header-products>

  <!-- Apartado para la linea de ubicacion -->
  <shared-line-ubication></shared-line-ubication>
</header>

<main>
  <!-- slider -->
  <shared-slider [images]="images" [autoSlide]="true"></shared-slider>

  <!-- Aparatado de categoria de productos -->
  <shared-cards></shared-cards>

  <!-- Apartado para el carrito de compras -->
  <shared-carrito-buy></shared-carrito-buy>

  <!-- Aparatado para el footer  -->
  <shared-footer></shared-footer>
</main>