<header>
  <supermarket-header-home></supermarket-header-home>
</header>

<main>
  <h1>Historia</h1>
  <div class="content-container">
    <div class="image">
      <img src="../../../assets/img/portadaSuperMarket.jpg" alt="Imagen supermercado">
    </div>

    <div class="text">
      <p>En la pintoresca región del Huila, Colombia, destaca Supermercado Muñoz, una cadena que ha crecido desde sus
        modestos
        inicios en un pequeño pueblo hasta convertirse en un pilar vital en varios municipios. Fundada por la apasionada
        familia
        Muñoz, la cadena se ha ganado la confianza local al proporcionar productos frescos y de calidad a precios justos
        en un
        ambiente cálido y familiar.</p>

      <p>Con más de tres décadas de historia, la cadena, liderada por Don Javier Muñoz y su
        esposa
        Doña Carmen, ha expandido su misión a diversas localidades del Huila, convirtiendo cada tienda en un reflejo de
        la
        identidad regional. Además de ofrecer productos locales y apoyar a los productores regionales, las tiendas se
        han
        convertido en puntos de encuentro comunitarios, fortaleciendo amistades y compartiendo historias locales.</p>

    </div>
  </div>
</main>