<!--Section Lacteos -->
<div class="text-content">
  <h3>Lacteos y Productos frescos</h3>
  <a href="#">
    <p>Ver mas -></p>
  </a>
</div>
<!-- <cardsProduct-product-lacteo [allProducts]="productsLacteo"></cardsProduct-product-lacteo> -->


<!-- Section Aseo Hogar -->
<div class="text-content">
  <h3>Aseo Hogar</h3>
  <a href="#">
    <p>Ver mas -></p>
  </a>
</div>
<!-- <cardsProducts-product-aseo [allProducts]="productsAseo"></cardsProducts-product-aseo> -->


<!-- Section bebidas -->
<div class="text-content">
  <h3>Bebidas</h3>
  <a href="#">
    <p>Ver mas -></p>
  </a>
</div>
<!-- <cardsProduct-product-bebida [allProducts]="productBebida"></cardsProduct-product-bebida> -->


<!-- Section Aseo y cuidado Personal -->
<div class="text-content">
  <h3>Aseo y cuidado Personal</h3>
  <a href="#">
    <p>Ver mas -></p>
  </a>
</div>
<!-- <cardsProduct-product-aseo-per [allProducts]="productAseoP"></cardsProduct-product-aseo-per> -->


<!-- Section the Mascota -->
<div class="text-content">
  <h3>Mascota</h3>
  <a href="#">
    <p>Ver mas -></p>
  </a>
</div>
<!-- <cardsProduct-product-mascota [allProducts]="productMascota"></cardsProduct-product-mascota> -->