header {
  height: 11.2rem;
  width: 100%;
  margin-bottom: 6rem;
  background: rgb(13, 89, 23);
  background: linear-gradient(
    90deg,
    rgba(13, 89, 23, 1) 15%,
    rgba(59, 148, 56, 1) 18%,
    rgba(59, 148, 56, 1) 24%
  );
}
